.ajout-type-acces{
    box-shadow: 0px 0px 10px silver;
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
}

.btn-sup{
    background-color: rgba(83, 109, 254, 1);
}

/*.MuiIconButton-label{
	display: none !important;
}*/

.dash{
	width: 99%;
	margin: auto;
}

.MUIDataTableHeadCell-data-108{
	font-weight: bolder;
	font-size: 110%
}